name: PR - Unit Tests
on: pull_request
jobs:
  test:
    name: PHP ${{ matrix.php }}
    timeout-minutes: 15
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: ["7.4", "8.0", "8.1"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup PHP
        uses: shivammathur/setup-php@0f7f1d08e3e32076e51cae65eb0b0c871405b16e # v2.34.1
        with:
          php-version: ${{ matrix.php }}
          tools: composer
          coverage: xdebug
      - name: Tool versions
        run: |
          php --version
          composer --version
      - name: Install composer packages
        run: composer install --no-interaction --prefer-dist
      - name: Run tests
        run: ./vendor/bin/phpunit -c phpunit.xml.dist --coverage-text
